@use"../../abstracts/animation.scss";

.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    background: white;
    padding: 4rem;
    max-width: 160rem;


    &__color {
        width: 30rem;
        flex-grow: 1;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1rem solid rgb(128, 128, 128, 0.2);
        //border-radius: 0.5rem;
        //box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.2s;
        position: relative;
        animation-name: popupCard;
        animation-duration: 0.6s;
        animation-fill-mode: backwards;
    }

    @for $i from 1 through 100{
        &__color:nth-of-type(#{$i}){
            animation-delay: $i/10 + "s";
        }
    }



    &__color:hover {
        cursor: pointer;
        transition: 0.2s;
        transform: translateY(-0.5rem);

    }

    &__circle {
        width: 50%;
        height: 50%;
    
        border-radius: 50%;
        transition: 0.2s transform;

        &--selected {
            transform: scale(3);

        }

    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: popup;
        animation-duration: 0.6s;
        display: none;
    }

}

.colors__circle--selected + .colors__text{
    display: block;

}